.App {
  text-align: center;
}

:root {
  --gray: #e6e2eb;
  --dark-text: #363636;
}

Form {
  width: 630px;
  border: 1px solid var(--gray);
  margin: 0 auto;
  border-radius: 5px;
}

Form .search-bar {
  width: 300px;
  height: 45px;
  padding-left: 18px;
  border-radius: 30px;
  border: 1px solid #bccdde;
}

Form .search-button {
  padding-top: 9px;
  padding-bottom: 9px;
  padding-left: 21px;
  padding-right: 27px;
  border-radius: 30px;
  border: 1px solid #2772db;
  transition: all 200ms ease-in-out;
  color: var(--dark-text);
  background-color: #fff;
}

form .current-location {
  padding: 9px 18px;
  border-radius: 30px;
  border: 1px solid #91ca62;
  transition: all 200ms ease-in-out;
  color: var(--dark-text);
  background-color: #fff;
}

form .search-button:hover {
  background-color: #2772db;
  color: #fff;
}

form .current-location:hover {
  background-color: #91ca62;
  color: #fff;
}

form .city-name {
  font-size: 50px;
  color: var(--dark-text);
}

form .city-temp {
  color: var(--dark-text);
  font-size: 19px;
}

form .overall-weather {
  color: var(--dark-text);
  font-size: 18px;
  text-transform: capitalize;
}

form .unit {
  font-size: 12px;
}

.dev-details {
  font-family: monospace;
  font-size: 14px;
  opacity: 0.8;
}

.source-code,
.dev-github {
  text-decoration: none;
  transition: all 200ms ease-in-out;
}

.source-code:hover,
.dev-github:hover {
  text-decoration: underline;
}
