.App {
  text-align: center;
  color: var(--white);
}

:root {
  --gray: #e6e2eb;
  --dark-text: #363636;
  --white: #fff;
}

Form {
  width: 630px;
  border: none;
  margin: 0 auto;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.1);
}

Form .search-bar {
  width: 300px;
  height: 45px;
  padding-left: 18px;
  border-radius: 30px;
  border: none;
  background-color: var(--gray);
}

Form .search-button {
  padding: 11px 30px 11px 21px;
  border-radius: 30px;
  border: none;
  transition: all 200ms ease-in-out;
  color: var(--dark-text);
  background-color: var(--gray);
}

form .current-location {
  padding: 11px 30px 11px 16px;
  border-radius: 30px;
  border: none;
  transition: all 200ms ease-in-out;
  color: var(--dark-text);
  background-color: var(--gray);
}

form .search-button:hover {
  background-color: #2772db;
  color: #fff;
}

form .current-location:hover {
  background-color: #91ca62;
  color: #fff;
}

form .city-name {
  font-size: 50px;
}

form .city-temp {
  font-size: 22px;
}

form .overall-weather {
  font-size: 20px;
  text-transform: capitalize;
  opacity: 0.8;
}

form .unit {
  font-size: 12px;
  top: -10px;
}

.dev-details {
  font-family: monospace;
  font-size: 14px;
  opacity: 0.8;
}

.source-code,
.dev-github,
.convert-unit {
  text-decoration: none;
  transition: all 200ms ease-in-out;
}

.source-code:hover,
.dev-github:hover {
  text-decoration: underline;
}
